.terraform/
lambdas/**/*.zip
lambdas/**/__pycache__/
lambdas/**/*.pyc
lambdas/**/package/
glue_jobs/**/__pycache__/
glue_jobs/**/*.pyc
*.tfstate
*.tfstate.backup
*.tfvars
!example.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
